
.admin-payments-table-header {
    padding-bottom: 8px;
}

.admin-payments-table-header table thead tr th {
    height: 35px !important;
    padding: 3px !important;
    font-size: 15px !important;
    font-weight: 450 !important;
}

.admin-payment-status-container {
    margin-top: 1rem;
}

.user-payment-status-row td {
    padding: 20px 5px 2px 8px !important;
}

.user-payment-status-row td {
    font-size: 1.1rem;
}

.user-payment-status-row {
    height: 4rem;
    background-color: #fff;
}

.user-payment-status-row:hover {
    cursor: pointer;
    background-color: rgba(222, 227, 250, 0.6);
}

.user-name-display {
    font-size: 16px !important;
    font-weight: 400;
    color: #012970;
    font-family: "Poppins", sans-serif;
    margin-bottom: 0;
}

.payment-modal-status-wrapper {
    margin-top: 15px;
}

.add-payments-modal-content {
    height: 75%;
}

.add-payments-modal-dialog {
    max-width: 50% !important;
}

.payment-modal-content {
    padding: 0 !important;
}

.inner-rows {
    padding-top: 1rem;
}

.payment-multi-select {
    margin-right: auto;
    width: 60%;
}

.payment-amount-input {
    margin-right: auto;
    width: 58.5%;
}

.user-select-row {
    padding-top: .5rem;
}

.payment-note {
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    padding: 6px;
    width: 100%;
}

.user-select-row .error-display {
    padding-top: 6px;
}

@media (max-width: 767.98px) {
    .add-payments-modal-dialog {
        max-width: 100% !important;
    }
    .payment-multi-select {
        width: 100%;
    }
    .payment-amount-input {
        width: 100%;
    }
    .user-payment-status-row {
        height: 3.5rem;
    }
    .user-payment-status-row td {
        font-size: 1rem;
    }
    .user-payment-status-row td {
        padding: 15px 5px 5px 5px !important;
    }
}